My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c8075e94-5b2c-4dd1-b75d-61ddf17d1c45",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2cb1fb54-a972-4c61-959f-b2070294b82d",
      "name": "Webhook",
      "webhookId": "c8075e94-5b2c-4dd1-b75d-61ddf17d1c45",
      "credentials": {
        "httpBasicAuth": {
          "id": "RgiSzsiRRVU1h9v2",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"chatInput\": \"{{$json.body.message}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "98c6fe3b-97fd-4b43-96e1-df089f97da98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Bạn là trợ lý ảo của hệ thống FOOD SYSTEM. Hãy sử dụng những dữ liệu được cung cấp để trả lời các câu hỏi của khách hàng."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "7c34270a-7d9a-47c2-a9c9-67f8ceb0ccd4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        320
      ],
      "id": "21e0582a-ba30-4813-a7ee-ce65b7fdccc3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PGYqqeb5Gsb0iEJ6",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        320
      ],
      "id": "fc1dcfd8-a5f5-4348-a957-86fb89f10038",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Gather information and advise customers on which dishes to choose based on their preferences. And remember to categorize customers based on nutrition.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        320
      ],
      "id": "f2b268c5-525c-4c73-84f3-1144bce3794c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "4ppSpR74Sqm4WUX5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        480
      ],
      "id": "2f083566-431f-463c-bbfa-29dd04f250dc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "PGYqqeb5Gsb0iEJ6",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[\n  {\n    \"results\": [\n      {\n        \"output\": \"{{ $json.results[0].output }}\"\n      }\n    ]\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        16
      ],
      "id": "f46f6835-3dee-4d0c-96e5-01b1154ad24a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        656
      ],
      "id": "2e289735-9bd8-4ba1-8889-e5746ef71cfa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://docs.google.com/document/d/1jkC6RgloIpt76a8ORB3xDF7j-JGuY4cp/export?format=docx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        656
      ],
      "id": "08c6af52-3b5e-45e5-802f-5c5b98c33cab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        288,
        656
      ],
      "id": "9c789f08-29b7-4f7e-b876-9d84d68176c2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "4ppSpR74Sqm4WUX5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        864
      ],
      "id": "42d62b2d-7d7d-4a7e-8fb0-fcc6ea43deb2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PGYqqeb5Gsb0iEJ6",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        864
      ],
      "id": "db9ff53f-89c9-4f00-84d8-5f888dfaa58f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        528,
        1072
      ],
      "id": "d9c00911-cd75-4c5c-a587-2e2c220e4814",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "const aiAgentResults = $input.all().map((item) => item.json);\n\nreturn {\n  json: {\n    results: aiAgentResults,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        16
      ],
      "id": "363ae36e-d707-4591-b481-56a20afcfc3e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0bea901f-79e2-4654-95be-03bb4fc4b264",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc5132cee5a1a799ea9c433c14cc510da9630767d6b41e5903a7008b68f65198"
  },
  "id": "JfVHAo9ifl2ZBvJR",
  "tags": []
}